.debuger-container {
  background-color: #031c28;
  color: #a7b0af;
  padding: 20px;
  white-space: pre-wrap;
  h2 {
    font-size: 24px;
    line-height: 1.15em;
    margin:0px;
    color: #dda300;
  }
  .debugger-trace {
    color: #a13024;
  }
  .debugger-toggleBacktrace {
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
    display: block;
    background-color: #a7b0af;
    color: #a13024;
    padding: 20px;
  }
  .debugger-backtrace {
    font-size: 14px;
    margin: 0 0 20px;
    background-color: #a7b0af;
    color: #031c28;
    ol {
      display: none;
      margin: 0;
      padding: 0 20px 20px 40px;
    }
  }
}
